@using System.Collections
@inherits UmbracoViewPage
@{
    var startPage = Model.AncestorOrSelf<StartPage>();
    var children = startPage.Children;
    var contactPage = children?.FirstOrDefault(x => x.ContentType.Alias == "contact");
    var siteName = startPage.Value("siteName");
}

<header class="header">
    <div class="container nav">
        <div class="logo"><a href="/">@siteName</div>
        <nav>
            @if (children != null && children.Count() > 0)
            {
                foreach (var subPage in children)
                {
                    var umbracoNaviHide = subPage.Value<bool>("UmbracoNaviHide");
                    var pageHeadline = subPage.Value<string>("Headline");
                    @if (umbracoNaviHide == false && subPage.ContentType.Alias != "contact")
                    {
                        <a href="@subPage.Url()">@pageHeadline</a>
                    }
                }
            }
        </nav>
        @if(contactPage != null)
        {
            var hideContactUs = contactPage.Value<bool>("UmbracoNaviHide");
            if(hideContactUs == false)
            {
                <a class="btn" href="@contactPage.Url()">@contactPage.Name</a>
            }
        }
    </div>
</header>